* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 8px;
    box-sizing: border-box;
}

table {
    width: 1200px;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    display: inline-block;
    width: 10px;
    height: 10px;
    text-align: center;
    font-weight: bold;
}

.selected {
    background-color: blueviolet;
    color: white;
}